In [10]:
import numpy as np
import pandas as pd
import sklearn

In [14]:
titanic = pd.read_csv("titanic_text.csv")

In [15]:
titanic.head()

   PassengerId  Survived  Sex  Pclass     Fare
0            1         0    0       3   7.2500
1            3         1    1       3   7.9250
2            4         1    1       1  53.1000
3            5         0    0       3   8.0500
4            7         0    0       1  51.8625

In [27]:
y = titanic["Survived"]
x = np.array(titanic.drop(["Survived", "PassengerId"], axis=1))

In [28]:
y_array = np.array(y)
x_array = np.array(x)

In [29]:
print("y_array: ", y_array.shape)
print("x_array: ", x_array.shape)

y_array:  (712,)
x_array:  (712, 3)

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x_array, y_array, test_size=0.4, random_state=0)

In [32]:
print("x_train: ", x_train.shape)
print("y_train: ", y_train.shape)
print("x_test: ", x_test.shape)
print("y_test: ", y_test.shape)

x_train:  (427, 3)
y_train:  (427,)
x_test:  (285, 3)
y_test:  (285,)

In [33]:
from sklearn.ensemble import RandomForestClassifier

In [34]:
rfc = RandomForestClassifier(random_state=0)

In [35]:
rfc.fit(x_train, y_train)

RandomForestClassifier(random_state=0)

In [36]:
y_pred = rfc.predict(x_test)

In [37]:
print(y_pred)

[0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 1 1 0 0 0 0 0 1 0 1 0 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 1 0 0 1 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1
 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 0 1 0 1 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 1 0 0 1 1 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 1 1 1 0 1 1 0 1 0 1 0 0 0 1 0 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 1 1 1 1 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0 1 0
 0 0 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0]

In [38]:
titanic2 = pd.read_csv("titanic_assignment_question.csv")

In [39]:
titanic2.head()

   PassengerId  Sex  Pclass      Fare
0            2    1       1   71.2833
1            6    0       3    8.4583
2            9    1       3   11.1333
3           15    1       3    7.8542
4           28    0       1  263.0000

In [40]:
x2 = np.array(titanic2.drop(["PassengerId"], axis=1))

In [41]:
x2_array = np.array(x2)

In [42]:
y2_pred = rfc.predict(x2_array)

In [43]:
print(y2_pred)

[1 0 1 1 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 1 0 1
 0 0 1 0 0 0 0 0 1 0 0 1 0 1 0 0 0 0 1 0 1 1 1 1 0 1 1 0 1 0 0 1 0 1 0 1 0
 1 1 0 0 1 1 0 0 0 1 1 1 0 0 1 1 0 1 0 0 1 0 1 1 1 0 1 1 0 0 1 1 0 1 0 0 0
 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0
 0 1 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 0]

In [45]:
titanic3 = titanic2.drop(["Sex","Pclass","Fare"], axis=1)

In [46]:
print(titanic3)

     PassengerId
0              2
1              6
2              9
3             15
4             28
..           ...
174          878
175          881
176          884
177          888
178          891

[179 rows x 1 columns]

In [47]:
titanic3["Survived"] = y2_pred

In [48]:
print(titanic3)

     PassengerId  Survived
0              2         1
1              6         0
2              9         1
3             15         1
4             28         0
..           ...       ...
174          878         0
175          881         1
176          884         0
177          888         1
178          891         0

[179 rows x 2 columns]

In [50]:
titanic3.to_csv("y_pred_assignment_submit.csv", index=False)