In [1]:
import numpy as np
import pandas as pd
import sklearn

In [4]:
houseprice = pd.read_csv('houseprice_text.csv')

In [5]:
houseprice.head()

,Id,SalePrice,OverallQual,GrLivArea,GarageCars,TotRmsAbvGrd,YearBuilt,KitchenQual,ExterQual
0,1,208500,7,1710,2,8,2003,2,2
1,4,140000,7,1717,3,7,1915,2,3
2,7,307000,8,1694,2,7,2004,2,2
3,8,200000,7,2090,2,7,1973,3,3
4,9,129900,7,1774,2,8,1931,3,3

In [6]:
y = houseprice["SalePrice"]
X = houseprice.drop(["Id", "SalePrice"], axis=1)

In [7]:
y_array = np.array(y)
X_array = np.array(X)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X_array, y_array, test_size=0.4, random_state=0)

In [10]:
from sklearn.ensemble import RandomForestRegressor

In [11]:
rfr = RandomForestRegressor(random_state=0)

In [14]:
rfr.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

houseprice2 =pd.read_csv("houseprice_assignment_question.csv")

In [15]:
houseprice2 = pd.read_csv("houseprice_assignment_question.csv")

In [16]:
houseprice2.head()

,Id,OverallQual,GrLivArea,GarageCars,TotRmsAbvGrd,YearBuilt,KitchenQual,ExterQual
0,2,6,1262,2,6,1976,3,3
1,3,7,1786,2,6,2001,2,2
2,5,8,2198,3,9,2000,2,2
3,6,5,1362,2,5,1993,3,3
4,10,5,1077,1,5,1939,3,3

In [19]:
x2 = np.array(houseprice2.drop(["Id"], axis=1))

In [20]:
x2_array = np.array(x2)

In [22]:
y2_pred = rfr.predict(x2_array)

In [23]:
print(y2_pred)

[148680.11       216294.75       325472.98       166179.18
 101820.25       140801.         153863.39571429 148328.
 304989.13        63508.6        142465.75       293362.7
 124813.08333333 317332.13       277756.25       125464.5
 326677.08       154614.         162052.         261827.06
 463586.67        94223.4        182861.5        293902.25
 112029.33333333 205187.41666667 108265.         123765.
 207116.78       133615.66666667 173006.55833333  94839.5
 194168.25       146573.         154546.1        176059.9
 324450.86       375100.37       203740.78       145414.
 110955.4        175403.5        142539.48       120479.
 119870.         181919.02933333 143053.75       120733.3
 403942.12       101876.         334489.54       121099.6
 111536.5        135518.         133430.         161763.5
  94773.         301513.53       408208.95       225290.
 145922.         177201.         135761.75       127164.1
  96233.         189352.         114669.5        185031.25
 306315.02       178557.35       308635.91       274867.81
 140129.74       183029.37        89638.72       167200.
  83758.         135327.46666667 127230.         222237.85
 166835.14       139410.86666667 175365.55        69664.
 181442.92       210602.19       199819.82       139781.1
 217963.5        153393.87        88086.22       106655.
  86192.         421815.83       146213.92       196770.35
 197409.         250830.54       135549.25       157332.5
 120795.         276160.69       102017.04       205335.
 146968.83333333 146236.25       188061.13       146953.35714286
 297074.14       257391.19        82141.68       126404.
 201720.79       110607.05       203423.5        116260.8
 244551.67       255336.17       108407.28       179281.5
 150452.         201442.28333333 272826.83       213403.4
 128707.75       127080.         212665.026      157851.32
 158209.32       106730.3        194430.16666667 207447.91
 130557.         113337.16666667 362434.42       142308.19
 145606.          58989.26       198578.         174729.
 293172.61       334259.33        87051.22       121097.96
 135618.83333333 136388.91666667 165718.         274016.17
 195618.         197622.5        369550.63       145348.5
 153025.48333333 203000.         158402.         183910.5
 195997.2        114010.66666667 116794.         321619.84
 134462.         206928.         124836.99       172408.47
 156351.177      219797.9        410463.78       196450.
 246222.66       115718.33333333 178829.61666667 143589.75238095
 197027.5        142950.         425333.33        90813.
 148619.62       197617.25       174962.         178097.9
 288830.64       200196.5        133766.2        180478.33
  90359.5        152332.85333333 142831.         279750.69
 122629.92       217697.7        232667.93       212760.75
 167193.54       180556.74       305608.7        170282.5
 125760.5        159808.4        143587.5        143192.74
 196084.14666667 244353.02       117751.1        235933.27
 163717.01666667  95989.38       122957.55       190931.
 188924.         185331.2        125365.6        125824.
 140000.24        92604.44       174778.1325     152813.66666667
 102868.75       158424.18       209365.22       131681.
 164424.43       186696.12       167701.         144380.43571429
 128529.         149825.         180750.          95180.61
 119883.         196218.         137824.         294312.25
 181522.         233182.         115842.         110899.
 179558.51666667 135088.2        196187.5        114329.98666667
 292770.95       164070.         653273.16       126592.5
  99608.5        241969.         131327.         226501.5
 160619.96       140852.         320408.36       150262.37
 230538.4        226104.32        94152.2        180306.5
 183212.35       149337.5        111062.04       148814.
 130642.5        149922.         632968.39       237000.35
 151219.         152813.66666667 190259.9        214210.
 161021.32       211457.          63919.5        160746.
 218902.36       125108.         116882.5        203004.31666667
 187609.7        166130.         212450.         193631.5
 364382.87       282832.18       171285.15       124870.
 177124.84       239268.29        86308.39       194327.58
 137980.         178681.04       143217.         149853.85714286]

In [25]:
houseprice3 = houseprice2.drop(["OverallQual","GrLivArea","GarageCars","TotRmsAbvGrd","YearBuilt","KitchenQual","ExterQual"], axis=1)

In [26]:
print(houseprice3)

       Id
0       2
1       3
2       5
3       6
4      10
..    ...
287  1416
288  1428
289  1430
290  1451
291  1453

[292 rows x 1 columns]

In [27]:
houseprice3["SalePrice"] = y2_pred

In [28]:
print(houseprice3)

       Id      SalePrice
0       2  148680.110000
1       3  216294.750000
2       5  325472.980000
3       6  166179.180000
4      10  101820.250000
..    ...            ...
287  1416  194327.580000
288  1428  137980.000000
289  1430  178681.040000
290  1451  143217.000000
291  1453  149853.857143

[292 rows x 2 columns]

In [29]:
houseprice3.to_csv("y_pred_SalePrice_submit.csv", index=False)